<header>
    <h1>Login</h1>
</header>
<main>
    <form method="post">
        <article>
            <header>Connection</header>
            <fieldset>
                <label>
                    Token
                    <input name="token" placeholder="Token" autocomplete="off" />
                </label>
            </fieldset>

            <input type="submit" value="Login" />
            <footer><a href="#">Ask for an account</a></footer>
        </article>
    </form>
</main>
<footer>
    Forge CLI
</footer>